<footer class="footer">
    <p>To Be Volunteer? <a href="mailto:e.obulkasim@students.ephe.be">Email us</a></p>
    <div class="footer-cols">
        <ul>
            <li><a href="#">FAQ</a></li>
        </ul>
        <ul>
            <li><a href="#">Help Center</a></li>
        </ul>
        <ul>
            <li><a href="#">Account</a></li>
        </ul>
        <ul>
            <li><a href="#">Media Center</a></li>
        </ul>
    </div>
</footer>